:root {
    --purple-color:rgba(51, 12, 45, 1);
    --pink-color:rgba(250, 0, 110, 1);
    --green-color:rgba(65, 234, 212, 1);
    --white-color: rgba(253, 255, 252, 1);
    --lilas-color:rgba(211, 196, 227, 1);
    --yellow-color: rgba(247, 236, 6, 1);
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

/*HEADER*/

header .navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .navbar img {
    width: 4em;
    height: 4em;
}

header .navbar .navbar_links span {
    color: var(--pink-color);
    font-size: 2rem;
    margin-left: 10px;
}

/*CONTENT*/

#home-page .banner {
    width:100vw;
    height: calc(100vh - 108px);
    background: url("../assets/campo-grande.jpg");
    background-size:cover;
    position:relative;
}

#home-page .overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: rgb(51,13,45,.8);
    text-align:center;
}

#home-page .overlay h1 {
    font-weight:100;
    color:var(--white-color);
    margin-top: 35vh;
    font-size: 40px;
}

#home-page .overlay button {
    font-weight:100;
    color:var(--white-color);
    padding: 20px 30px;
    border-radius: 5px;
    border: none;
    background-color: #FA016E;
    margin-top: 20px;
    cursor: pointer;
    font-size: 1rem;
}

#home-page .overlay button:hover {
    background-color:transparent;
    border: 1px solid var(--white-color);
}

/*PROMO*/
#home-page .promo-content {
    width: 100vw;
    margin: 0 auto;
}

#home-page .promo-content img {
    width:100%;
}

/*CTA*/

#home-page .cta {
    background-color: var(--purple-color);
}

#home-page .cta-content {
    text-align:center;
    padding:30px;
}

#home-page .cta-content h3 {
    color: var(--white-color);
    font-weight:100;
    display:block;
    margin-bottom: 20px;
}

#home-page .cta-content button {
    padding: 10px 20px;
    background:transparent;
    border: 2px solid var(--white-color);
    color: var(--white-color);
    border-radius: 5px;
    cursor:pointer;
    font-weight: bold;
}

#home-page .cta-content button:hover {
    background:var(--green-color);
    border:none;
    border: 1px solid var(--green-color);
    color: var(--purple-color);
}


/*STAT*/

#home-page .stat-content {
    width: 100vw;
    margin: 20px auto;
    text-align: center;
}
#home-page .stat-content h2 {
    padding: 20px;
    color:var(--purple-color);
}
#home-page .stat-content canvas {
    width:95vw !important;
}

/*DIVULGUE*/

#home-page .divulgue {
    background-color: var(--pink-color);
}

#home-page .divulgue-content {
    text-align:center;
    padding:30px;
}

#home-page .divulgue-content h3 {
    color: var(--white-color);
    font-weight:100;
    display:block;
    margin-bottom: 20px;
}

#home-page .divulgue-content button {
    padding: 10px 20px;
    background:transparent;
    border: 2px solid var(--white-color);
    color: var(--white-color);
    border-radius: 5px;
    cursor:pointer;
    font-weight: bold;
}

#home-page .divulgue-content button:hover {
    background:var(--green-color);
    border:none;
    border: 1px solid var(--green-color);
    color: var(--purple-color);
}

/*FOOTER*/

footer {
    background-color: #232323;
    font-size:14px;
    font-weight:100;
    display:block;
}

footer .top-footer {
    margin: 0 auto;
    width:100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px 40px;
}

footer .top-footer .footer-logo img {
    width:80px;
    margin-bottom: 10px;
}

footer .top-footer .footer-links h3 {
    margin-bottom: 10px;
    color: var(--white-color);
}

footer .top-footer .footer-links p {
    color: var(--white-color);
}

footer .top-footer .footer-links a {
    display:block;
    text-decoration:none;
    color:var(--white-color); 
    margin-bottom: 10px;
}

footer .top-footer .footer-links a:hover {
    color:var(--green-color);
}

footer .bottom-footer {
    background-color: rgb(250, 250, 250);
    text-align: center;
    font-weight: 400;
}

footer .bottom-footer p {
    padding: 20px 0;
}