@media (min-width: 600px) {

    header .navbar {
        max-width: 1100px;
        margin: 0 auto;
    }

    #home-page .promo .promo-content {
        width:70%;
        height:0;
        
    }

    #home-page .promo .promo-content img {
        border-radius: 15px;
        transform: translateY(-50%);
        position: relative;
        z-index:10;
    }

    #home-page .cta {
        z-index:1;
    }

    #home-page .cta .cta-content h3 {
        margin-top: 5%;
    }

    #home-page .stat-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
    #home-page .stat-content .wrapper {
        width: 30vw !important;
        margin: 0 auto;
    }

    #home-page .stat-content .wrapper h2 {
        padding: 20px;
        color:var(--purple-color);
        font-size: 24px;
    }

    #home-page .stat-content .wrapper canvas {
        width: 30vw !important;
    }

    /** ABOUT **/

    #about-page .about {
        max-width: 1100px;
        margin: 0 auto;
    }

    #about-page .about .about-wrapper {
        width: 80%;
        margin: 0 auto;
        background: var(--white-color);
        padding: 30px;
        border-radius: 15px;
        margin-bottom: 20px;
    }

    footer .top-footer {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: 1100px;
    }

}